extends layout

block content
  h1= 'Token'
  script(type='text/javascript').
    var jwt = '#{jwt}';

    if (jwt) {
      sessionStorage.jwt = jwt;
    } else {
      delete sessionStorage.jwt;
    }

    window.location.replace('/');

  a(href='/')= 'Fortsätt'